
nav{
    box-shadow: -3px 6px 20px 0px #999;
}

.navbar-a{
    color:white;
}

.index{
    background-image: url("../img/red-global-4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

a:link, a:visited, a:active { 
     text-decoration:none;}

.h1-index{
    color:lightyellow;
    font-size: 4em;
    margin-top: 0.5em;
}

.h2-index{
    color:lightyellow;
}

.p-index{
    color:lightyellow;
    font-size: 3em;
}

.a-index{
    color: white
}

.choose{
    margin-top: 10em;
    display: flex;
    justify-content: space-evenly;
}


.index-button{
    opacity: 0;
    width: 5em;
    height: 5em;
    border-radius: 10%;
}


.login-body{
    background-color: black;
}



/**************************Lista Alumnos.html*********************************/
.lista-alumnos-h4{
    margin:0;
}

/*************************************************************/

#search{
    width: 20em;
}

